{
   "checksum": "c358b1bd2b5df3de02626506ce50f0c0",
   "roots": {
      "bookmark_bar": {
         "children": [ {
            "children": [ {
               "date_added": "13304176894000000",
               "guid": "9c61766d-daaa-430e-be5f-2131ad14a58e",
               "id": "30",
               "name": "Verrazzano Console",
               "type": "url",
               "url": "{{ vz_console_url }}"
            }, {
               "date_added": "13304176894000000",
               "guid": "0eb4c3c3-716a-44d5-86f9-120181fcb1ca",
               "id": "31",
               "name": "Elastic",
               "type": "url",
               "url": "{{ vz_elasticUrl_url }}"
            }, {
               "date_added": "13304176894000000",
               "guid": "597b0e7f-ba84-471d-b0db-06708997d723",
               "id": "32",
               "name": "Grafana",
               "type": "url",
               "url": "{{ vz_grafanaUrl_url }}"
            }, {
               "date_added": "13304176894000000",
               "guid": "5d8d2fe4-0a53-4419-b006-aec15f4c57dc",
               "id": "33",
               "name": "KeyCloak",
               "type": "url",
               "url": "{{ vz_keyCloakUrl_url }}"
            }, {
               "date_added": "13304176894000000",
               "guid": "d687cb85-be80-4a7a-ae9e-35754f863afe",
               "id": "34",
               "name": "Kiali",
               "type": "url",
               "url": "{{ vz_kialiUrl_url }}"
            }, {
               "date_added": "13304176894000000",
               "guid": "6bb309b0-abd3-48ce-aa13-cd1899ecd2a8",
               "id": "35",
               "name": "Kibana",
               "type": "url",
               "url": "{{ vz_kibanaUrl_url }}"
            }, {
               "date_added": "13304176894000000",
               "guid": "1dfbaa73-e21b-49e9-b6f1-b33913beb7b2",
               "id": "36",
               "name": "Prometheus",
               "type": "url",
               "url": "{{ vz_prometheusUrl_url }}"
            } ],
            "date_added": "13304178216852847",
            "date_modified": "0",
            "guid": "9c364f11-f754-4b99-b9fc-3dda2aee04f3",
            "id": "29",
            "name": "Verrazzano",
            "type": "folder"
         } ],
         "date_added": "13304165692814464",
         "date_modified": "13304176880062815",
         "guid": "0bc5d13f-2cba-5d74-951f-3f233fe6c908",
         "id": "1",
         "name": "Bookmarks bar",
         "type": "folder"
      },
      "other": {
         "children": [  ],
         "date_added": "13304165692814466",
         "date_modified": "13304174996611024",
         "guid": "82b081ec-3dd3-529c-8475-ab6c344590dd",
         "id": "2",
         "name": "Other bookmarks",
         "type": "folder"
      },
      "synced": {
         "children": [  ],
         "date_added": "13304165692814467",
         "date_modified": "0",
         "guid": "4cf2e351-0e85-532b-bb37-df045d8f8d0f",
         "id": "3",
         "name": "Mobile bookmarks",
         "type": "folder"
      }
   },
   "version": 1
}